# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# SQLite DB
*.sqlite3
*.db
db.sqlite3

# Logs, temp files
*.log
*.swp
*.swo
*.bak
*.tmp

# Environment variables
.env

# macOS
.DS_Store

# VSCode
.vscode/

# Django static files
staticfiles/
# static/
*.pot

# Docker volume data
**/mysql_data/
