# Django
ENV_NAME=local
DJANGO_SECRET_KEY=your-secret-key
DJANGO_DEBUG=True # この変数がなければ　False に
DJANGO_ALLOWED_HOSTS=* #全て許可 本番はドメイン名

# MySQL
MYSQL_DATABASE=mydb
MYSQL_USER=django_user
MYSQL_ROOT_PASSWORD=example
MYSQL_PASSWORD=example
MYSQL_HOST=db
MYSQL_PORT=3306
