/* 全てのHTMLにかかる設定 */

* {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Noto Sans JP", sans-serif;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    text-align: center;
}


/* base_app_button.htmlのmainタグにかかる設定（後で画面によってmain部分の指定を変えたいなら、mainにクラスをつけて管理する） */
main {
    height: 85vh;
    overflow-y: auto;
    padding-bottom: 120px; /* ボタンの高さ分の余白を確保 */
    position: relative;
}