/* 全てのHTMLにかかる設定 */

* {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Noto Sans JP", sans-serif;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    text-align: center;
}


/* 「スキル登録画面」「スキル作成画面」「プロフィール作成画面」のメイン部分の指定 */
.opening-main {
    height: 85vh;
    overflow-y: auto;
    padding-bottom: 120px; /* ボタンの高さ分の余白を確保 */
    position: relative;
}

/* 「ホーム画面」「探す画面」「ハンドシェイク画面」「設定画面」（フッターアイコンの並ぶ画面）のメイン部分の指定 */
.normal-main {
    height: 73vh; /* それぞれの画面で指定するので、消すかも！ */
    overflow-y: auto;
    padding-bottom: 70px;
    position: relative;
}