/* ！　ユーザー登録・ログイン画面のパーツ ！ */

/* フォーム入力のパーツ */
.registration-form {
    width: 305px;
    height: 45px;
    border-radius: 25px;
    border: 1px solid var(--gray);
    background: var(--light_gray);
    padding-left: 25px;
    padding-right: 25px;
    font-size: 19px;
}

.registration-form::placeholder {
    font-size: 20px;
    color: var(--slate_gray);
}

/* 「登録」「ログイン」ボタンのパーツ */
.registration-submit {
    width: 160px;
    height: 45px;
    border-radius: 25px;
    border: hidden;
    background: var(--student_primary);
    font-size: 22px;
    font-weight: bold;
    color: var(--white);
    align-self: center;
    transition: .3s;
}

.registration-submit:hover {
    transform: scale(1.1,1.1);
}

/* 「登録」「ログイン」画面へ戻るボタンのパーツ */
.registration-back {
    text-decoration: none;
    font-size: 20px;
    color: var(--slate_gray);
    transition: .2s;
}

.registration-back:hover {
    color: var(--charcoal_gray);
}


/* ！「スキル登録・作成画面」「プロフィール作成画面」のパーツ ！ */

/* 「下部固定ボタン」のパーツ */
.sticky-button {
    min-width: 175px;
    min-height: 55px;
    width: auto;
    height: auto;
    padding: 0 18px;
    border-radius: 30px;
    border: hidden;
    background-color: var(--button_color);
    box-shadow: 0 1px 4px var(--shadow_gray);
    font-size: 22px;
    font-weight: bold;
    color: var(--white);
}

/* 「スキル作成画面」のフォーム */
.skill-form {
    width: 300px;
    height: 40px;
    border-radius: 25px;
    border: none;
    background: var(--light_gray);
    padding-left: 25px;
    padding-right: 25px;
    font-size: 19px;
}

/* 「プロフィール作成画面」のフォーム */
.profile-form {
    width: 285px;
    height: 35px;
    border-radius: 25px;
    border: none;
    background: var(--light_gray);
    padding-left: 25px;
    padding-right: 25px;
    font-size: 18px;
}

.introduction-form {
    width: 285px;
    height: 250px;
    border-radius: 25px;
    border: none;
    background: var(--light_gray);
    padding: 15px 25px; /* 上下・左右 */
    font-size: 18px;
}


/* ！ 「スキル登録画面」のパーツ ！ */

/* 虫眼鏡ボタン */
.skill-search-btn {
    width: 35px;
    height: 35px;
    border-radius: 20px 0 0 20px;
    background-color: var(--slate_white);
    border: none;
    box-shadow: 1px 1px 5px 1px var(--shadow_gray);
    cursor: pointer;
}

.skill-search-btn:hover {
    background-color: var(--student_primary);
    color: var(--white);
}

/* 検索窓 */
.skill-search-form {
    width: 220px;
    height: 35px;
    border-radius: 0 20px 20px 0;
    background-color: var(--slate_white);
    border: none;
    box-shadow: 1px 1px 5px 1px var(--shadow_gray);
    padding: 5px 17px;
    outline: none;
    font-size: 15px;
}

/* プラスボタン(「スキル作成画面」遷移) */
.plus-btn-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--primary_color);
    opacity: 0.6;
    transition: 0.2s;
}

.plus-btn {
    font-size: 20px;
    color: var(--white);
}

.plus-btn-circle:hover {
    opacity: 1;
}

/* スキル選択タグ */
.skill-checkbox[type=checkbox] {
    display: none;
}

.skill-checkbox[type=checkbox]:checked + .skill-name-selection {
    background-color: var(--primary_color);
    color: var(--white);
    border: 1px solid var(--primary_color);
    transition: 0.08s;
}

.skill-name-selection {
    display: inline-block;
    border: 1px solid var(--gray);
    color: var(--charcoal_gray);
    border-radius: 20px;
    padding: 5px 15px;
    font-weight: bold;
    margin: 4px 0;
}


/* !「ホーム画面」パーツ ! */

/* 初期ホーム画面のボタン */
.opening-student-button {
    width: 210px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--student_primary);
    color: var(--white);
    border-radius: 20px;
    font-size: 38px;
    font-weight: bold;
    padding-bottom: 3px; /* 微調整 */
    text-decoration: none;
}

.opening-teacher-button {
    width: 210px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--teacher_primary);
    color: var(--white);
    border-radius: 20px;
    font-size: 38px;
    font-weight: bold;
    padding-bottom: 3px; /* 微調整 */
    text-decoration: none;
}

/* 通常ホームボタン */
.student-button {
    width: 210px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--student_primary);
    color: var(--white);
    border-radius: 20px;
    border: none;
    font-size: 38px;
    font-weight: bold;
    padding-bottom: 3px; /* 微調整 */
}


.teacher-button {
    width: 210px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--teacher_primary);
    color: var(--white);
    border-radius: 20px;
    border: none;
    font-size: 38px;
    font-weight: bold;
    padding-bottom: 3px; /* 微調整 */
}


/* ！「探す画面」パーツ！ */

/* 検索窓のパーツ・"search.css"に位置の設定あり（いろんな画面で使い回し） */
.search-form {
    width: 100%;
    height: 42px;
    position: relative;
    border-radius: 20px;
    background-color: var(--form_gray);
    border: none;
    padding: 5px 75px 5px 29px; /* 上右下左 / ボタン分の余白を右に設定 */
    outline: none;
    font-size: 20px;
}

.search-btn {
    width: 50px;
    height: 42px;
    position: absolute;
    top: 50px;
    right: 0;
    border-radius: 0 20px 20px 0;
    background-color: var(--primary_color);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-icon {
    font-size: 21px;
    color: var(--white);
}

.user-box {
    width: 89%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    box-shadow: 1px 1px 5px 1px var(--shadow_gray);
    border-radius: 18px;
    padding: 0 20px;
}

.search-user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-user-info p {
    font-size: 24px;
    max-width: 85px;
    white-space: nowrap; /* 折り返さない */
    overflow: hidden; /* はみ出た部分隠す */
    text-overflow: ellipsis; /* はみ出し部分「...」にする */
}

.request-button {
    width: 130px;
    height: 35px;
    border: none;
    border-radius: 25px;
    background-color: var(--button_color);
    color: var(--white);
    font-weight: bold;
    font-size: 15px;
}


/* ！「ハンドシェイク画面」パーツ！ */

.matching-button {
    width: 140px;
    height: 35px;
    border: none;
    border-radius: 25px;
    background-color: var(--button_color);
    color: var(--white);
    font-weight: bold;
    font-size: 15px;
}

.accept-button {
    width: 67px;
    height: 35px;
    border: none;
    border-radius: 25px;
    background-color: var(--button_color);
    color: var(--white);
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 2px; /* ボタン内の文字の位置を微調整 */
}

.remove-button {
    width: 67px;
    height: 35px;
    border: none;
    border-radius: 25px;
    background-color: var(--gray);
    color: var(--white);
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 2px; /* ボタン内の文字の位置を微調整 */
}


/* ！「設定画面」パーツ！ */

.settings-box {
    width: 89%;
    height: 90px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    box-shadow: 1px 1px 5px 1px var(--shadow_gray);
    border-radius: 18px;
    padding: 0 20px;
    gap: 20px;
}

.settings-box p {
    font-size: 23px;
}

.people-icon {
    font-size: 38px;
}

.logout-btn {
    background: none;
    color: var(--red);
    font-size: 22px;
    font-weight: bold;
    border: none;
    border-top: 3px solid var(--red);
    border-bottom: 3px solid var(--red);
    padding: 10px 0;
    width: 90%;
    margin: 0 auto;
}