/* ！　ユーザー登録・ログイン画面のヘッダー ！ */

.circle-wrapper {
    display: flex;
    justify-content: center;
    height: 22%;
    overflow: hidden;
    position: relative;
}

.app-name {
    align-self: center;
    color: var(--white);
    margin-right: 15em;
    z-index: 1;
}

.circle1 {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: var(--student_primary);
    opacity: 0.7;
    margin-top: -270px;
    margin-right: 200px;
    position: absolute;
    /* z-index: 2; */
}

.circle2 {
    width: 400px;
    height: 300px;
    border-radius: 50%;
    background: var(--teacher_primary);
    opacity: 0.7;
    margin-top: -170px;
    margin-left: 450px;
    position: absolute;
    z-index: 2;
}


/* ！ スキル登録・スキル作成・プロフィール作成画面ヘッダーの部分の指定 ！ */

.opening-header {
    position: relative;
    height: 15vh;
    background: var(--primary_translucent);
}

.opening-app-name {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 15px;
    color: var(--charcoal_gray);
}

/* ! ホーム・探す・ハンドシェイク・設定画面（フッターアイコンの並ぶ画面）のヘッダー部分の指定 ! */

.normal-header {
    background: var(--primary_translucent);
}


/* !「ホーム画面」ヘッダー ! */

/* 「初期ホーム画面」ヘッダー */
.opening-home-header-wrapper {
    height: 15vh;
    display: flex;
    flex-direction: column;
}
.opening-user-info {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 38px;
    margin-top: 4px; /* 微調整　*/
}

.opening-home-user-icon-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2.5px solid var(--gray);
}

.opening-home-user-icon {
    font-size: 40px;
    color: var(--gray);
    padding-top: 12px;
}

.opening-bell-icon {
    font-size: 37px;
    color: var(--gray);
    margin-top: 4px; /* 微調整 */
    margin-right: -5px; /* 微調整 */
}

.opening-header-border {
    border: none;
    border-bottom: 1.5px solid var(--gray);
    width: 90%;
    margin: 0 auto;
}

/* 「通常ホーム」ヘッダー */
.home-header-wrapper {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 4px; /* 微調整　*/
}

.home-user-icon-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2.5px solid var(--charcoal_gray);
}

.home-user-icon {
    font-size: 40px;
    color: var(--charcoal_gray);
    padding-top: 12px;
}

.home-user-name {
    font-size: 30px;
    color: var(--black);
    max-width: 160px; /* ニックネームが長かった場合隠れるようにする */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* ニックネームが長かったら「...」表示 */
}

.bell-icon {
    font-size: 37px;
    color: var(--charcoal_gray);
    margin-top: 4px; /* 微調整 */
    margin-right: -5px; /* 微調整 */
}


/* !「探す画面」ヘッダー ! */

.search-header-wrapper {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px;
}

.search-title {
    font-size: 33px;
    /* font-weight: bold; */
    color: var(--charcoal_gray);
    margin-top: 4px; /* 微調整 */
}

.search-user-icon-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2.5px solid var(--charcoal_gray);
    margin-top: 4px; /* 微調整 */
}

.search-user-icon {
    font-size: 32px;
    color: var(--charcoal_gray);
    padding-top: 11px;
}


/* !「ハンドシェイク画面」ヘッダー ! */

.handshake-header-wrapper {
    height: 15vh;
    display: flex;
    align-items: flex-end;
}

.handshake-tabs {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.handshake-tabs li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    font-weight: bold;
    font-size: 21px;
}

.handshake-tabs a {
    text-decoration: none;
    color: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 57px;
    width: 80%;
    transition: 0.1s;
}

.handshake-tabs hr {
    border: none;
    border-bottom: 9px solid var(--gray);
    border-radius: 10px;
    margin: 0 auto;
    transition: 0.1s;
}

.handshake-tabs li a.active {
    color: var(--red);
}

.handshake-tabs li hr.active {
    border-color: var(--red);
}


/* !「設定画面」ヘッダー ! */

.settings-header-wrapper {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.settings-header-wrapper p {
    font-size: 25px;
    color: var(--charcoal_gray);
    margin-bottom: 5px; /* 微調整 */
}


/* !「ユーザープロフィール画面」ヘッダー ! */
.profile-header {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;  /* 微調整 */
}

.back-icon {
    font-size: 35px;
    color: var(--charcoal_gray);
}