/* ！　ユーザー登録・ログイン画面のヘッダー ！ */
.circle-wrapper {
    display: flex;
    justify-content: center;
    height: 22%;
    overflow: hidden;
    position: relative;
}

.app-name {
    align-self: center;
    color: var(--white);
    margin-right: 15em;
    z-index: 1;
}

.circle1 {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: var(--student_primary);
    opacity: 0.7;
    margin-top: -270px;
    margin-right: 200px;
    position: absolute;
    /* z-index: 2; */
}

.circle2 {
    width: 400px;
    height: 300px;
    border-radius: 50%;
    background: var(--teacher_primary);
    opacity: 0.7;
    margin-top: -170px;
    margin-left: 450px;
    position: absolute;
    z-index: 2;
}


/* ！ スキル登録・スキル作成・プロフィール作成画面ヘッダーの部分の指定 ！ */
.opening-header {
    position: relative;
    height: 15vh;
    /* background: var(--student_primary_translucent); */
    background: var(--primary_translucent);
}

.opening-app-name {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 15px;
    color: var(--charcoal_gray);
}

/* ホーム・探す・ハンドシェイク・設定画面（フッターアイコンの並ぶ画面）のヘッダー部分の指定 */
.normal-header {
    height: 15vh;
}
