{% extends 'base/base_app_button.html' %}
{% load static %}

{% block header %}
    {% include 'partials/header_handshake.html' %}
{% endblock header %}

{% block content %}
<main class="normal-main">

    <!-- このulタグの"handshake-contents"とliタグはタブ切り替えで必要なもの！（「マッチング成功」「リクエスト」のタブの中のコンテンツ） -->
    <ul class="handshake-contents">

        <!-- 「マッチング成功」のタブの中のコンテンツ -->
        <li>

            <form method="get" action=""> <!-- 検索窓 -->
                <div class="search-wrapper">
                    <input class="search-form" type="text" name="skill_name"> 
                    <button class="search-btn" type="submit">
                        <i class="fa-solid fa-magnifying-glass search-icon"></i>
                    </button>
                </div>
            </form>

            <!-- ユーザ一覧 -->
            <div class="user-box-wrapper">

                    {% for match_user in matching_list %}
                        <div class="user-box">

                            <div class="search-user-info">
                                <div class="search-user-icon-circle">
                                    <i class="fa-regular fa-user search-user-icon"></i>
                                </div>
                                <p>{{match_user.nickname}}</p>
                            </div>
                
                            <form method="post" action="{% url 'contact_user' %}">
                                {% csrf_token %}
                                <div class="handshake-btn-wrapper">
                                    <input type="hidden" name="role" value="{{ role }}">
                                    <input type="hidden" name="requested_user_id" value="{{ match_user.user_id_id }}">
                                    <button class="matching-button" type="submit">コンタクトを取る</button>
                                </div>
                            </form>
                        </div>
                    {% endfor %}
            
            
 
            
            </div>

        </li>

        <!-- 「リクエスト」の中のコンテンツ -->
        <li class="active">

            <form method="get" action=""> <!-- 検索窓 -->
                <div class="search-wrapper">
                    <input class="search-form" type="text" name="skill_name"> 
                    <button class="search-btn" type="submit">
                        <i class="fa-solid fa-magnifying-glass search-icon"></i>
                    </button>
                </div>
            </form>

            <div class="user-box-wrapper">
                {% for request_user in request_list %}
                    <div class="user-box">

                        <a href="{% url 'requester_profile' %}?role={{ role }}&requested_user_id={{ request_user.user_id.id }}">
                        
                            <div class="search-user-info">
                                <div class="search-user-icon-circle">
                                    <i class="fa-regular fa-user search-user-icon"></i>
                                </div>
                                <p>{{request_user.nickname}}</p>
                            </div>
                        </a>

                        <form method="post" action="">
                            {% csrf_token %}
                            <div class="handshake-btn-wrapper">
                                <input type="hidden" name="form_type" value="approval_request">
                                <input type="hidden" name="target_user_id" value="{{ request_user.user_id.id }}">
                                <button class="accept-button" type="submit">承認</button>
                                <button class="remove-button" type="button">削除</button>
                            </div>
                        </form>
            
                    </div>
                {% endfor %}
 

        </li>

    </ul>

</main>
{% endblock content %}

{% block footer %}
    {% if is_opening_home %}
        {% include 'partials/footer.html' with disable_links=True %}
    {% else %}
        {% include 'partials/footer.html' %}
    {% endif %}
{% endblock footer %}

{% block extra_js %}
    <script src="{% static 'javascript/handshake.js' %}"></script> 
{% endblock extra_js %}