{% extends 'base/base_app_button.html' %}

{% block header %}
    {% include 'partials/header_home.html' %}
{% endblock header %}

{% block content %}
<main class="normal-main">

    <div class="role-button-wrapper">

        <form action="" method="post">
        {% csrf_token %}
        <!-- type=submitにすると、動かなくなるため今はbuttonにしている -->
            <button  class="student-button" name="user_role" value="student" type="button">学ぶ</button>
        </form>
        <form action="" method="post">
        {% csrf_token %}
            <button class="teacher-button" name="user_role" value="teacher" type="button">教える</button>
        </form>

    </div>

</main>
{% endblock content %}

{% block footer %}
    {% include 'partials/footer.html' %}
{% endblock footer %}