{% extends 'base/base_app_button.html' %}

{% block header %}
    {% include 'partials/header_back.html' with back_url_name='request_list' %}
{% endblock header %}

{% block content %}
<main class="normal-main no-footer">

    <p class="matching-words">マッチング成功<br>おめでとうございます！</p>

    <div class="user-icon-name-piece">

        <!-- プロフィール画像 -->
        <div class="user-icon-circle">
            <i class="fa-regular fa-user user-icon"></i>
        </div>

        <!-- ニックネーム -->
        <p class="profile-user-name">ひいろ</p>

    </div>

    <div class="modal-contact-wrapper">

        <a href="" id="modalOpen" class="modal-open">連絡先を見る</a>

        <div id="mask" class="mask"></div>

        <div id="modal" class="modal">
            <div class="modal-contents">

                <div id="modalClose" class="modal-close"><i class="fa-solid fa-xmark"></i></div>

                <div class="contact-address-piece">
                    <p class="modal-text">連絡先：</p>
                    <p class="contact-address">aaaaaa@gmail.com</p>
                </div>

            </div>
        </div>

    </div>



    <!-- スキル一覧 -->
    <div class="skills-list">
        <p>{{ sub_text|safe }}</p>
        <ul>
            <li><span class="skill-tag">AWS</span></li>
            <li><span class="skill-tag">Docker</span></li>
        </ul>
    </div>

    <!-- 自己紹介文 -->
    <div class="user-introduction">
        <!-- <p>こんにちは！</p> -->
        <p>初めまして、ひいろと申します！最近ハッカソンでDockerとAWSについて学んでいます。その中で僕もつまづいたことがたくさんあったので、その経験からの気づきを皆さんとシェアできたらとても嬉しいです。僕も人に教えながらさらに学んで成長していきたいと思っています。一緒に成長してくれる方はいませんか？</p>
    </div>

</main>
{% endblock content %}