{% extends 'base/base_app_button.html' %}

{% block header %}
{% include 'partials/header_opening.html' %}
{% endblock header %}

{% block content %}
<main class="opening-main">

    <p class="opening-title">
        プロフィールを
        <br>
        作成しましょう！
    </p>
    
    <form method="post" action="">
        {% csrf_token %}
    
        <div class="profile-form-wrapper">
    
            <div class="user-icon-piece">
                <div class="user-icon-circle">
                    <i class="fa-regular fa-user user-icon"></i>
                </div>
                <div class="plus-icon-circle">
                    <i class="fa-solid fa-plus plus-icon"></i>
                </div>
            </div>
    
            <div class="username-piece">
                <label class="input-username" for="user_name">ニックネーム：</label>
                <input class="profile-form" type="text" id="user_name" name="user_name">
            </div>
    
            <div class="contact-info-piece">
                <label class="input-contact-info" for="contact_info">マッチングした際の連絡先：</label>
                <input class="profile-form" type="text" id="contact_info" name="contact_info">
            </div>
    
            <div class="introduction-piece">
                <label class="input-introduction" for="self_introduction">自己紹介文：</label>
                <textarea class="introduction-form" type="text" id="self_introduction" name="self_introduction" maxlength="255"></textarea>
            </div>
        </div>
    
        <div class="sticky-button-wrapper">
            <hr />
            {% include 'partials/sticky_button.html' with button_label='決定する' %}
        </div>
    
    </form>

</main>
{% endblock content %}

