{% extends 'base/base_app_button.html' %}

{% block header %}
    {% include 'partials/header_back.html' with back_url_name='request_list' %}
{% endblock header %}

{% block content %}
<main class="normal-main">

    <div class="user-icon-name-piece">

        <!-- プロフィール画像 -->
        <div class="user-icon-circle">
            <i class="fa-regular fa-user user-icon"></i>
        </div>

        <!-- ニックネーム -->
        <p class="profile-user-name">{{ nickname }}</p>

    </div>

    <!-- スキル一覧 -->
    <div class="skills-list">
        {% if role == "student" %}
        <p>教えたいもの：</p>
        {% else %}
        <p>学びたいもの：</p>
        {% endif %}

        <ul>
            {% for skill in skills %}
            <li><span class="skill-tag">{{ skill }}</span></li>
            {% endfor %}
        </ul>
    </div>

    <!-- 自己紹介文 -->
    <div class="user-introduction">
        <p>{{ self_introduction|linebreaksbr }}</p>
    </div>

</main>
{% endblock content %}

{% block footer %}
<div class="sticky-button-wrapper">
    <hr />
        <form method="post" action="{% url 'request_list' %}?role={{ role }}">
            {% csrf_token %}

            <div class="handshake-btn-wrapper">
                <input type="hidden" name="form_type" value="approval_request">
                <input type="hidden" name="target_user_id" value="{{ requested_user_id }}">
                {% include 'partials/sticky_button.html' with button_label='承認する' %}
            </div>
       </form>
</div>
{% endblock footer %}