{% extends 'base/base_app_button.html' %}

{% block header %}
    {% include 'partials/header_search.html' %}
{% endblock header %}

{% block content %}
<main class="normal-main">

    <form method="get" action=""> <!-- 検索窓 -->
        <div class="search-wrapper">
            <input class="search-form" type="text" name="skill_name"> 
            <button class="search-btn" type="submit">
                <i class="fa-solid fa-magnifying-glass search-icon"></i>
            </button>
        </div>
    </form>


    <div class="user-box-wrapper">

        <!-- バックエンドと連携する時はこんな感じになる？ -->
        <!-- {% for user in users %}
        <form method="POST" action="">
            {% csrf_token %}

            <div class="user-box">

                <div class="search-user-info">
                    <div class="search-user-icon-circle">
                        <i class="fa-regular fa-user search-user-icon"></i>
                    </div>
                    <p>{{ user.name }}</p>
                </div>

                <input type="hidden" name="user_id" value="{{ user.id }}">
                <button class="request-button" type="submit">リクエストする</button>
                
            </div>

        </form>
        {% endfor %} -->

        <!-- <form method="post" action=""> -->
            <!-- {% csrf_token %} -->

            {% for user in users %}
            <form method="post" action="">
                {% csrf_token %}
                <div class="user-box">

                <a href="{% url 'user_detail' %}?role={{ role }}"> <!-- formの中に<a>とか<button>とか置いちゃったけど、form送信する時にバッティングしない？　-->
                        <div class="search-user-info">
                            <div class="search-user-icon-circle">
                                <i class="fa-regular fa-user search-user-icon"></i>
                            </div>
                            <!-- <p>MANA</p> -->
                        <p>{{ user.nickname }}</p>
                            <!-- user.nicknameを押すとユーザープロフィールに遷移する？ -->
                    </div>
                </a>

                    <input type="hidden" name="form_type" value="send_request">
                    <input type="hidden" name="requested_user_id" value="{{ user.id }}">
                    <input type="hidden" name="requester_user_role" value="{{ user.role }}">
                    <button class="request-button" type="submit">{{user.status}}</button>

                </div>
            </form>
            {% endfor %}

        <!-- </form> -->

        <!-- UI確認用 -->
            <!-- <div class="user-box">

                <div class="search-user-info">
                    <div class="search-user-icon-circle">
                        <i class="fa-regular fa-user search-user-icon"></i>
                    </div>
                    <p>ひいろ</p>
                </div>
                <button class="request-button">リクエストする</button>

            </div>

            <div class="user-box">

                <div class="search-user-info">
                    <div class="search-user-icon-circle">
                        <i class="fa-regular fa-user search-user-icon"></i>
                    </div>
                    <p>てつき</p>
                </div>
                <button class="request-button">リクエストする</button>

            </div>

            <div class="user-box">

                <div class="search-user-info">
                    <div class="search-user-icon-circle">
                        <i class="fa-regular fa-user search-user-icon"></i>
                    </div>
                    <p>たな</p>
                </div>
                <button class="request-button">リクエストする</button>

            </div>

            <div class="user-box">

                <div class="search-user-info">
                    <div class="search-user-icon-circle">
                        <i class="fa-regular fa-user search-user-icon"></i>
                    </div>
                    <p>My name is MANA</p>
                </div>
                <button class="request-button">リクエストする</button>

            </div>
        UI確認用ここまで -->

    </div>

</main>
{% endblock content %}

{% block footer %}
    {% if is_opening_home %}
        {% include 'partials/footer.html' with disable_links=True %}
    {% else %}
        {% include 'partials/footer.html' %}
    {% endif %}
{% endblock footer %}