{% extends 'base/base_app_button.html' %}

{% block header %}
    {% include 'partials/header_search.html' %}
{% endblock header %}

{% block content %}
<main class="normal-main">

    <form method="get" action=""> <!-- 検索窓 -->
        <div class="search-wrapper">
            <input class="search-form" type="text" name="skill_name"> 
            <button class="search-btn" type="submit">
                <i class="fa-solid fa-magnifying-glass search-icon"></i>
            </button>
        </div>
    </form>


    <div class="user-box-wrapper">

        <!-- 検証用 -->
        <p>ログイン中ユーザー: {{ login_user.id }}</p>
        {% for excludeed in excluded_users_ids %}
            <p >除外ユーザーID: {{ excludeed }}</p>
        {% endfor %}

        {% for user in users %}
            <div class="user-box">

                <a href="{% url 'user_detail' %}?role={{ role }}&requested_user_id={{ user.requested_id }}&request_status={{ user.request_status }}">
                    <div class="search-user-info">
                        <div class="search-user-icon-circle">
                            <i class="fa-regular fa-user search-user-icon"></i>
                        </div>
                        <p>
                            {{ user.requeted_nickname }}
                        </p>         
                    </div>
                </a>
                <form method="post" action="">
                    {% csrf_token %}

                    <input type="hidden" name="form_type" value="send_request">
                    <input type="hidden" name="requested_user_id" value="{{ user.requested_id }}">
                    <input type="hidden" name="requester_user_role" value="{{ user.requester_role }}">
                    <input type="hidden" name="get_role" value="{{ role }}">

                    {% if user.request_status == 'リクエスト済み' %}
                    <button class="request-button requested" type="submit" disabled>{{ user.request_status }}</button>
                    {% else %}
                    <button class="request-button " type="submit" >{{ user.request_status }}</button>
                    {% endif %}
                </form>
            </div>
        {% endfor %}
    </div>

</main>
{% endblock content %}

{% block footer %}
    {% if is_opening_home %}
        {% include 'partials/footer.html' with disable_links=True %}
    {% else %}
        {% include 'partials/footer.html' %}
    {% endif %}
{% endblock footer %}