{% extends 'base/base_app_button.html' %}

{% block header %}
{% include 'partials/header_settings.html' %}
{% endblock header %}

{% block content %}
<main class="normal-main">

    <div class="settings-wrapper">

        <div class="settings-box-wrapper">

            <div class="settings-box">

                <div class="search-user-icon-circle">
                    <i class="fa-regular fa-user search-user-icon"></i>
                </div>
                <p>アカウントの管理</p>

            </div>

            <div class="settings-box">

                <div class="people-icon-piece">
                    <i class="fa-solid fa-user-group people-icon"></i>
                </div>
                <p>送信済みリクエスト</p>

            </div>

        </div>

        <a href="{% url 'logout' %}" class="logout-btn">ログアウト</a>

    </div>

</main>
{% endblock content %}

{% block footer %}
{% if is_opening_home %}
{% include 'partials/footer.html' with disable_links=True %}
{% else %}
{% include 'partials/footer.html' %}
{% endif %}
{% endblock footer %}