{% extends 'base/base_app_button.html' %}

{% block header %}
{% include 'partials/header_opening.html' %}
{% endblock header %}

{% block content %}
<main class="opening-main">

    <p class="opening-title">
        {{ page_title|safe }}
    </p>

    <div class="search-line-wrapper">

        <form method="get" action=""> <!-- 検索窓 -->
            <div class="skill-search-wrapper">
                <input class="skill-search-form" type="text" name="skill_name">
                <button class="skill-search-btn" type="submit">
                    <i class="fa-solid fa-magnifying-glass skill-search-icon"></i>
                </button>
            </div>
        </form>

        <!-- 追記 -->
        <!-- スキル選択したあとにスキル作成画面遷移でもSessionにデータを保存させるため、roleのあとに&seve=1を追記 -->
        <div class="plus-btn-circle"> <!-- プラスボタン -->
            <a href="{% url 'setup_skill' %}?role={{ role }}&save=1"> <!-- roleをそのまま引き継ぐための記述 -->
                <i class="fa-solid fa-plus plus-btn"></i>
            </a>
        </div>

    </div>

    <form method="post" action="">
        {% csrf_token %}
        <div class="skill-selection-wrapper">
            <!-- 追記 -->
            <!-- バックエンド側でskill登録者数10人以上のスキルに絞って表示 -->
            {% for skill in form.skills %}
            {{ skill.tag }}
            <label for="{{ skill.id_for_label }}" class="skill-name-selection">
                {{ skill.choice_label }}
            </label>
            {% endfor %}
            <div class="sticky-button-wrapper">
                <hr />
                {% include 'partials/sticky_button.html' with button_label='登録する' %}
            </div>
    </form>

</main>
{% endblock content %}