{% extends 'base/base_app_button.html' %}

{% block header %}
{% include 'partials/header_opening.html' with show_back_button=True%}
{% endblock header %}

{% block content %}
<main class="opening-main">

    <p class="opening-title">
        {{ page_title|safe }}
    </p>
    
    <form method="post" action="">
    {% csrf_token %}
    
        <div class="skill-form-wrapper">
            <label class="input-skill-name" for="skill_name">スキル名入力</label>
            <input class="skill-form" type="text" id="skill_name" name="skill_name">
        </div>
    
        <div class="sticky-button-wrapper">
            <hr />
            {% include 'partials/sticky_button.html' with button_label='作成する' %}
        </div>
    
    </form>

</main>
{% endblock content %}
