{% extends 'base/base_app_button.html' %}

{% block header %}
    {% include 'partials/header_back.html' with back_url_name='search' %}
{% endblock header %}

{% block content %}
<main class="normal-main">
    

    <div class="user-icon-name-piece">

        <!-- プロフィール画像 -->
        <div class="user-icon-circle">
            <i class="fa-regular fa-user user-icon"></i>
        </div>

        <!-- ニックネーム -->
        <h1 class="profile-user-name">{{ nickname }}</h1>

    </div>

    <!-- スキル一覧 -->
    <div class="skills-list">
        {% if role == "student" %}
        <p>教えたいもの</p>
        {% else %}
        <p>学びたいもの</p>
        {% endif %}

        <ul>
            {% for skill in skills %}
            <li><span class="skill-tag">{{ skill }}</span></li>
            {% endfor %}
        </ul>
    </div>

    <!-- 自己紹介文 -->
    <div class="user-introduction">
        <p>{{ self_introduction|linebreaksbr }}</p>
    </div>

</main>
{% endblock content %}

{% block footer %}
<div class="sticky-button-wrapper">
    <hr />
        <form method="post" action="{% url 'search' %}">
            {% csrf_token %}

            <input type="hidden" name="form_type" value="send_request">
            <input type="hidden" name="requested_user_id" value="{{ requested_user_id }}">
            <input type="hidden" name="requester_user_role" value="{{ requester_user_role }}">
            <input type="hidden" name="get_role" value="{{ role }}">
            {% include 'partials/sticky_button.html' with button_label=request_status %}
        </form>
</div>
{% endblock footer %}