.sticky-button-wrapper {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 20px 0;
    background: var(--white);
}

hr {
    border: none;
    border-bottom: 2.5px solid var(--gray);
    width: 90%;
    margin: 0 auto;
    margin-bottom: 15px;
}

/* スキル作成画面 */
.opening-title {
    font-size: 32px;
    font-weight: 900;
    color: var(--charcoal_gray);
    margin-top: 30px;
}


.skill-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 42px auto;
    width: max-content;
}

.input-skill-name {
    font-size: 18px;
    font-weight: bold;
    color: var(--charcoal_gray);
    margin: 0 0 5px 13px; /*　上・右・下・左 */
}

.error-message {
    width: 300px;
    margin: 15px auto;
    font-size: 14px;
    font-weight: bold;
    color: var(--caution);
    padding: 10px 13px;
    border-radius: 6px;
    background-color: var(--caution_background);
    margin-bottom: -20px;
}

.error-message i {
    font-size: 16px;
}


/* スキル登録画面 */
.search-line-wrapper {
    display: flex;
    justify-content: center;
    margin: 28px;
    gap: 15px;
}

.skill-search-wrapper {
    position: relative;
    width: 100%;
    max-width: 270px;
    margin: 0 auto;
}

.skill-selection-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    padding-top: 13px;
}