{% extends 'base/base_registration.html' %}

{% block title %}ユーザー登録{% endblock title %}

{% block content %}

<div class="registration-container">
    <p>ユーザー登録</p>

    <form method="post" action="">
    {% csrf_token %}

        <div class="registration-piece">
            <input class="registration-form" type="email" name="email" placeholder="Email" required>
            <input class="registration-form" type="password" name="password1" placeholder="パスワード" required>
            <input class="registration-form" type="password" name="password2" placeholder="パスワード確認用" required>
        </div>

        <div class="registration-button-piece">
            <button class="registration-submit" type="submit">登録</button>
            <a class="registration-back" href="{% url 'login' %}">ログイン</a>
        </div>

    </form>

</div>
    
{% endblock content %}